---
import { Image } from 'astro:assets'
import { Button } from '../ui/button'

type IButton = {
  text: string
  ariaLabel: string
  href: string
  img: string
}

const buttons: IButton[] = [
  {
    text: 'LinkedIn',
    ariaLabel: 'LinkedIn Profile',
    href: 'https://www.linkedin.com/in/ronald-zamora-524094353/',
    img: '/icons/linkedin.svg'
  },
  {
    text: 'GitHub',
    ariaLabel: 'GitHub Profile',
    href: 'https://github.com/RonaldDev0',
    img: '/icons/github.svg'
  },
  {
    text: 'Resume',
    ariaLabel: 'View Resume',
    href: '/resume',
    img: '/icons/file.svg'
  }
]
---

<section
  id='hero'
  aria-label='hero'
  class='h-screen'
  >
  <div class='flex items-center justify-between h-screen relative'>
    <div>
      <p class='text-6xl font-bold'>I'm</p>
      <p class='text-6xl font-bold'>Ronald Zamora</p>
      <p class='text-3xl font-bold mt-2 mb-6'>Software Developer</p>
      <div class='space-x-1'>
        {buttons.map(button => (
          <a
            href={button.href}
            target='_blank'
            aria-label={button.ariaLabel}
          >
            <Button
              variant='outline'
              size='lg'
              className='cursor-pointer'
            >
              <img
                src={button.img}
                class='w-[25px] h-[25px]'
                alt='icon'
              />
              <span>{button.text}</span>
            </Button>
          </a>
        ))}
      </div>
    </div>
    <Image
      src='/personal/foto.webp'
      class='rounded-full'
      alt='Ronald Zamora - Software Developer'
      width='300'
      height='300'
      loading='eager'
    />
  </div>
  <div class='absolute bottom-16 flex justify-center w-[1000px]'>
    <a href='#experience' class='text-xl font-semibold'>Experience</a>
  </div>
</section>