---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/sections/Hero.astro'
import Experience from '@/components/sections/Experience.astro'
import Projects from '@/components/sections/projects/index.astro'
import Stack from '@/components/sections/stack.astro'
import Education from '@/components/sections/Education.astro'
import AboutMe from '@/components/sections/AboutMe.astro'
---

<Layout>
	<div class='w-full flex justify-center'>
		<div class='w-[1000px] flex flex-col gap-38 mb-38'>
			<Hero />
			<Experience />
			<Projects />
			<Stack />
			<Education />
			<AboutMe />
		</div>
	</div>
</Layout>
