---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class='w-screen h-screen fixed top-0 left-0'>
    <iframe src='/personal/resume-en.pdf' class='w-screen h-screen' />
  </div>
</Layout>