@use 'vars' as v;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: #FFFFFF;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  color: transparent;
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: map-get( v.$color, 'selected' );
  border-radius: 10px;
}

b {
  color: map-get(v.$color, 'primary')
}

.container_navBarr {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}


@include v.desktop {};
@include v.mobile {};