@use 'vars' as v;

.container_second_message_text {
  background-color: map-get(v.$color, 'background' );
  width: 800px;
  border-radius: v.$border;
  }



.name {
color: white;
}

@include v.desktop {
  .container_first_message {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding-top: 200px;
    font-size: 40px;

  }

  .p_message {
    min-width: 490px
  }

  .container_second_message {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 400px;
    margin-bottom: 200px;
    font-size: 20px;
  }
  
  .container_second_message_tittle {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .container_second_message_text {
    width: 70%;
    padding: 30px;
    text-align: start;
  }
};
@include v.mobile {
  .container {
    font-size: 20px;
  }
  .container_first_message {
    font-size: 40px;
  }
  .image {
    width: 60vw;
  }
  .container_second_message {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_second_message_text {
    width: 75vw;
    padding: 18px;
    margin-bottom: 100px;
    text-align: left;
  }
};