@use 'vars' as v;

.container_navBarr {
  background-color: map-get(v.$color, 'background');
  border-radius: v.$border;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  max-width: 700px;
  height: 50px;
  position: fixed;
  transition: all .5s;
}

.container_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: map-get(v.$color, 'text');
  width: 100%;

  &:hover {
    background-color: map-get(v.$color, 'selected')
  }
  &:focus{
    outline: none;
  }
}

@include v.desktop {
  .container_navBarr {
    top: 20px;
  }

  .container_link {
    gap: 10px;
  }
};
@include v.mobile {
  .container_navBarr {
    bottom: 5px;
  }

  .container_link {
    gap: 3px;
  }

  .title {
    content: '';

    &::after {
      content: '';
    }
  }
};