@use 'vars' as v;

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 200px;
  font-size: 30px;
}


.skills {
  background-color: map-get(v.$color, 'background' );
  border-radius: v.$border;
  padding: 10px;
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  
  .image {
    border: v.$border;
    transition: all .2s;
  }
}



.image:hover {
  width: 100px;
  height: 100px
}

@include v.desktop {};
@include v.mobile {
  .container {
    gap: 0;
    margin-top: 0;
  }
  .subContainer {
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .skills {
    padding: 10px;
    margin-top: 4px;
    gap: 20px;
    width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
};